* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}
:root {
  --background-color: linear-gradient(
    111.84deg,
    rgba(6, 11, 38, 0.94) 59.3%,
    rgba(26, 31, 55, 0) 100%
  );
}
.container {
  background-image: url("/assets/background-body.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
a {
  text-decoration: none;
}
nav {
  background-color: var(--background-color);
  height: 50px;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

footer {
  background-color: var(--background-color);
  align-items: center;
  color: #777;
  text-align: center;
  height: 100px;
  width: 100%;
  margin: auto;
}

.main-container {
  display: flex;
  height: calc(95vh - 50px);
}

.sidebar {
  backdrop-filter: blur(10px);
  width: 200px;
  background-color: #1a202c;
  height: 100%;
  padding: 20px;
  border-radius: 16px;
  opacity: 1;
  border: 2px solid #171923;
}

.content {
  flex: 1;
  padding: 20px;
  color: #333;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  color: #fff;
  padding: 30px;
  margin: 20px 0;
  list-style: none;
  height: 50px;
}
